In [4]:
#needed to make web requests
import requests
#store the data we get as a dataframe
import pandas as pd
#convert the response as a strcuctured json
import json
#mathematical operations on lists
import numpy as np
#parse the datetimes we get from NOAA
from datetime import datetime
#add the access token you got from NOAA
Token = 'yoVFkAKoWYoOcIqPtXRBolQVwygTyqin'
#Long Beach Airport station
station_id = 'GHCND:IN012070800'

In [5]:
#initialize lists to store data
dates_temp = []
dates_prcp = []
temps = []
prcp = []

#for each year from 2015-2019 ...
year = 2020
year = str(year)
print('working on year '+year)

#make the api call
r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&limit=1000&stationid='+station_id+'&startdate='+year+'-01-01&enddate='+year+'-12-31', headers={'token':Token})
#load the api response as a json
d = json.loads(r.text)
type (d)

working on year 2020

dict

In [6]:

avg_temps = [item for item in d['results'] if item['datatype']=='TAVG']
#get the date field from all average temperature readings
dates_temp += [item['date'] for item in avg_temps]
#get the actual average temperature from all average temperature readings
temps += [item['value'] for item in avg_temps]

In [7]:
#initialize dataframe
df_temp = pd.DataFrame()

#populate date and average temperature fields (cast string date to datetime and convert temperature from tenths of Celsius to Fahrenheit)
df_temp['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_temp]
df_temp['avgTemp']= [((float(32.0*F)-32.0) * (5.0/9)/100.0) for F in temps]
#df_temp['avgTemp']=[float(v)/10.0*1.8 + 32 for v in temps]
df_temp.tail()

          date    avgTemp
129 2020-05-09  54.400000
130 2020-05-10  54.755556
131 2020-05-11  55.288889
132 2020-05-12  54.400000
133 2020-05-13  54.577778

In [8]:
station_names=pd.read_csv('WeatherStationID.csv')

station_names=station_names[[ "Station ID",'Station Name']]

In [9]:
import re
count =0
for i in station_names['Station ID']:
    k=re.search("^US", i)
    if (k):
        count+=1
print (count)

61868

In [10]:
weather=pd.read_csv('citiesStatesUpdated.csv')

In [12]:
weather.head()

        City        State  population    WeatherID
0     Mumbai  Maharashtra    12442373  IN012070800
1      Delhi        Delhi    11007835  IN022021900
2  Bangalore    Karnataka     8436675  IN009010100
3  Hyderabad    Telangana     6809970  IN001080500
4  Ahmedabad      Gujarat     5570585  IN005010600

In [27]:
def makeTempData():
    final=
    for i in weather['WeatherID']:

SyntaxError: unexpected EOF while parsing (<ipython-input-27-d65c9623f1a1>, line 2)

In [33]:
def getWeatherData(weatherID):
    # initialize lists to store data
    dates_temp = []
    dates_prcp = []
    temps = []
    prcp = []
    # for each year from 2015-2019 ...
    
    year = str(2020)
    print('working on year ' + year)

    # make the api call
    r = requests.get(
        'https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&units=metric&limit=1000&stationid=GHCND:'+weatherID+'&startdate=' + year + '-01-01&enddate=' + year + '-12-31',
        headers={'token': Token})
    # load the api response as a json
    d = json.loads(r.text)
    # get all items in the response which are average temperature readings
    avg_temps = [item for item in d['results'] if item['datatype'] == 'TAVG']
    # get the date field from all average temperature readings
    dates_temp += [item['date'] for item in avg_temps]
    # get the actual average temperature from all average temperature readings
    temps += [item['value'] for item in avg_temps]

    #initialize dataframe
    df_temp = pd.DataFrame()

    #populate date and average temperature fields (cast string date to datetime and convert temperature from tenths of Celsius to Fahrenheit)
    df_temp['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_temp]
    df_temp['avgTemp'] = [float(v) for v in temps]
    
    return df_temp

In [34]:
getWeatherData('IN019131301')

working on year 2020

          date  avgTemp
0   2020-01-01     12.7
1   2020-01-02     15.2
2   2020-01-03     16.1
3   2020-01-04     15.3
4   2020-01-05     15.3
5   2020-01-06     16.6
6   2020-01-07     17.5
7   2020-01-08     13.6
8   2020-01-09     12.6
9   2020-01-10     12.7
10  2020-01-11     14.0
11  2020-01-12     15.9
12  2020-01-13     16.3
13  2020-01-14     15.2
14  2020-01-15     15.4
15  2020-01-16     14.4
16  2020-01-17     14.7
17  2020-01-18     14.8
18  2020-01-19     14.1
19  2020-01-20     13.7
20  2020-01-21     15.3
21  2020-01-22     16.5
22  2020-01-23     15.3
23  2020-01-24     15.5
24  2020-01-25     16.8
25  2020-01-26     18.0
26  2020-01-27     18.7
27  2020-01-28     17.9
28  2020-01-29     16.6
29  2020-01-30     15.5
..         ...      ...
104 2020-04-14     34.0
105 2020-04-15     33.8
106 2020-04-16     34.6
107 2020-04-17     33.3
108 2020-04-18     32.2
109 2020-04-19     31.7
110 2020-04-20     25.5
111 2020-04-21     29.5
112 2020-04-22     32.0
113 2020-04-23     27.1
114 2020-04-24     30.4
115 2020-04-25     30.7
116 2020-04-26     28.8
117 2020-04-27     30.1
118 2020-04-28     31.0
119 2020-04-29     31.9
120 2020-04-30     32.9
121 2020-05-01     34.9
122 2020-05-02     36.2
123 2020-05-03     29.2
124 2020-05-04     28.2
125 2020-05-05     31.2
126 2020-05-06     27.7
127 2020-05-07     31.5
128 2020-05-08     34.7
129 2020-05-09     36.0
130 2020-05-10     33.0
131 2020-05-11     31.3
132 2020-05-12     30.7
133 2020-05-13     32.0

[134 rows x 2 columns]