In [90]:
#needed to make web requests
import requests

#store the data we get as a dataframe
import pandas as pd

#convert the response as a strcuctured json
import json

#mathematical operations on lists
import numpy as np

#parse the datetimes we get from NOAA
from datetime import datetime

#add the access token you got from NOAA
Token = 'yoVFkAKoWYoOcIqPtXRBolQVwygTyqin'

#Long Beach Airport station
station_id = 'GHCND:SW000008525'

In [91]:
from pandas.io.json import json_normalize

In [92]:
#initialize lists to store data
dates_temp = []
dates_prcp = []
temps = []
prcp = []

#for each year from 2015-2019 ...
year = 2020
year = str(year)
print('working on year '+year)

#make the api call
r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&limit=1000&stationid='+station_id+'&startdate='+year+'-01-01&enddate='+year+'-12-31', headers={'token':Token})
#load the api response as a json
d = json.loads(r.text)
type (d)

working on year 2020

dict

In [93]:

avg_temps = [item for item in d['results'] if item['datatype']=='TAVG']
#get the date field from all average temperature readings
dates_temp += [item['date'] for item in avg_temps]
#get the actual average temperature from all average temperature readings
temps += [item['value'] for item in avg_temps]

In [94]:
#initialize dataframe
df_temp = pd.DataFrame()

#populate date and average temperature fields (cast string date to datetime and convert temperature from tenths of Celsius to Fahrenheit)
df_temp['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_temp]
df_temp['avgTemp']= [((float(32.0*F)-32.0) * (5.0/9)/100.0) for F in temps]
#df_temp['avgTemp']=[float(v)/10.0*1.8 + 32 for v in temps]
df_temp.tail()

          date    avgTemp
129 2020-05-09  17.244444
130 2020-05-10  16.888889
131 2020-05-11   8.177778
132 2020-05-12   7.111111
133 2020-05-13   8.177778

In [52]:
station_names=pd.read_csv('WeatherStationID.csv')

station_names=station_names[[ "Station ID",'Station Name']]

In [173]:
import re
count =0
for i in station_names['Station ID']:
    k=re.search("^US", i)
    if (k):
        count+=1
print (count)

61868

In [19]:
weather=pd.read_csv('citiesStatesUpdated.csv')

In [20]:
weather.head()

        City        State  population    WeatherID
0     Mumbai  Maharashtra    12442373  IN012070300
1      Delhi        Delhi    11007835  IN022021900
2  Bangalore    Karnataka     8436675  IN009010100
3  Hyderabad    Telangana     6809970  IN001133100
4  Ahmedabad      Gujarat     5570585          NaN

In [27]:
def makeTempData():
    final=df.
    for i in weather['WeatherID']:

SyntaxError: unexpected EOF while parsing (<ipython-input-27-d65c9623f1a1>, line 2)

In [111]:
def getWeather(weatherID):
    #initialize lists to store data
    dates_temp = []
    dates_prcp = []
    temps = []
    prcp = []
    Token = 'yoVFkAKoWYoOcIqPtXRBolQVwygTyqin'
    #station_id = str('GHCND:'+weatherID
    #for each year from 2015-2019 ...
    year = 2020
    year = str(year)
    print('working on year '+year)

    #make the api call
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&limit=1000&stationid='+weatherID+'&startdate='+year+'-01-01&enddate='+year+'-12-31', headers={'token':Token})
    #load the api response as a json
    d = json.loads(r.text)
    type (d)

    avg_temps = [item for item in d['results'] if item['datatype']=='TAVG']
    #get the date field from all average temperature readings
    dates_temp += [item['date'] for item in avg_temps]
    #get the actual average temperature from all average temperature readings
    temps += [item['value'] for item in avg_temps]

    #initialize dataframe
    df_temp = pd.DataFrame()

    #populate date and average temperature fields (cast string date to datetime and convert temperature from tenths of Celsius to Fahrenheit)
    df_temp['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_temp]
    df_temp['avgTemp']= [((float(32.0*F)-32.0) * (5.0/9)/100.0) for F in temps]
    #df_temp['avgTemp']=[float(v)/10.0*1.8 + 32 for v in temps]
    return df_temp

In [110]:
temp='IN003050301'
station_id = str('GHCND:'+temp)

k1=getWeather(station_id)
#k2=getWeather("IN003050301")

working on year 2020

KeyError: 'results'

In [105]:
k1.head()

        date   avgTemp
0 2020-01-01  7.111111
1 2020-01-02  9.066667
2 2020-01-03  8.888889
3 2020-01-04  2.311111
4 2020-01-05  0.533333